.columns {
  --columns-gap: var(--space-4);

}

.columns > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--columns-gap);

}

.columns img {
  width: 100%;

}

.columns > div > .columns-img-col img {
  display: block;

}

/* ==================================================
   BP-MD | Desktop
   ================================================== */
@media (width >= 900px) {
  .columns > div {
    grid-template-columns:
      repeat(
        auto-fit,
        minmax(0, 1fr)
      );
    align-items: center;

  }

}