/* ==================================================
   HERO
   ================================================== */

.hero {
  /* ==================================================
     HERO TOKENS
     ================================================== */
  --hero-min-height: 300px;
  --hero-padding-y: var(--space-5);

  position: relative;
  min-height: var(--hero-min-height);
  padding-block:
    var(--hero-padding-y);
}


/* ==================================================
   HERO CONTENT WRAPPER
   ================================================== */

.hero > div:last-child {
  width: 100%;
}


.hero > div:last-child > div {
  box-sizing: border-box;
  width: 100%;
  max-width:
    var(--content-container-width);
  margin-inline: auto;
  padding-inline:
    var(--content-container-padding-mobile);
}


/* ==================================================
   HERO CONTENT
   ================================================== */

.hero h1 {
  color:
    var(--background-color);
}


/* ==================================================
   HERO MEDIA
   ================================================== */

.hero picture {
  position: absolute;
  inset: 0;
  z-index: -1;
  box-sizing: border-box;
  object-fit: cover;
}


.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ==================================================
   BP-LG
   ================================================== */

@media (width >= 1200px) {
  .hero > div:last-child > div {
    padding-inline:
      var(--content-container-padding-desktop);
  }
}