/* ==================================================
   HERO
   ================================================== */

.hero {

  /* ==================================================
     HERO TOKENS
     ================================================== */

  --hero-min-height: 300px;

  --hero-padding-y: var(--space-5);

  --hero-content-max-width:
    var(--container-default);

  position: relative;

  min-height: var(--hero-min-height);

  padding-block:
    var(--hero-padding-y);

  padding-inline:
    var(--container-padding-mobile);

}


/* ==================================================
   HERO CONTENT
   ================================================== */

.hero h1 {

  max-width:
    var(--hero-content-max-width);

  margin-inline: auto;

  color:
    var(--background-color);

}


/* ==================================================
   HERO MEDIA
   ================================================== */

.hero picture {

  position: absolute;

  inset: 0;

  z-index: -1;

  box-sizing: border-box;

  object-fit: cover;

}


.hero img {

  width: 100%;

  height: 100%;

  object-fit: cover;

}


/* ==================================================
   BP-LG
   ================================================== */

@media (width >= 1200px) {

  .hero {

    padding-inline:
      var(--container-padding-desktop);

  }

}