
body {

  display: none;

  margin: 0;

  background-color:
    var(--background-color);

  color:
    var(--text-color);

  font-family:
    var(--body-font-family);

  font-size:
    var(--body-font-size-m);

  line-height: 1.6; 

}


body.appear {

  display: block;

}


input,
textarea,
select,
button {

  font: inherit;

}


header {

  height:
    var(--nav-height);

}


header .header,
footer .footer {

  visibility: hidden;

}


header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {

  visibility: visible;

}