h1,
h2,
h3,
h4,
h5,
h6 {

  margin-top: 0.8em;

  margin-bottom: 0.25em;

  font-family:
    var(--heading-font-family);

  font-weight: 600;

  line-height: 1.25;

  scroll-margin: 40px;

}


h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}


p,
dl,
ol,
ul,
pre,
blockquote {

  margin-top: 0.8em;

  margin-bottom: 0.25em;

}


code,
pre {

  font-size:
    var(--body-font-size-s);

}


pre {

  padding: 16px;

  border-radius: 8px;

  background-color:
    var(--light-color);

  overflow-x: auto;

  white-space: pre;

}