footer {
  background-color:
    var(--light-color);
  font-size:
    var(--body-font-size-xs);

}


footer .footer > div {
  padding-top:
    var(--space-5);
  padding-bottom:
    var(--space-3);

}


footer .footer p {
  margin: 0;

}